In [10]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
import warnings

warnings.filterwarnings("ignore")

data = pd.read_csv('market_data.csv')

data['Sales_and_marketing'] = data['Sales_and_marketing'].str.replace(',', '').astype(int) 
data['Revenue'] = data['Revenue'].str.replace(',', '').str.replace('$', '').astype(int)  
data['Research_and_development'] = data['Research_and_development'].str.replace(',', '').astype(int)  
data['General_and_administrative'] = data['General_and_administrative'].str.replace(',', '').astype(int)  
data

,Research_and_development,Sales_and_marketing,General_and_administrative,year_quarter,Revenue
0,199,404,62,Q2-95,1516
1,219,436,68,Q3-95,1627
2,264,404,86,Q4-95,1662
3,278,514,63,Q1-96,2085
4,305,554,76,Q2-96,2287
...,...,...,...,...,...
109,6306,5595,1480,Q3-22,49360
110,6849,6304,1749,Q4-22,51865
111,6628,5126,1398,Q1-23,50122
112,6844,5679,2337,Q2-23,52747
113,6984,5750,1643,Q3-23,52857

In [11]:
X = data[['Research_and_development', 'Sales_and_marketing', 'General_and_administrative']]
y = data['Revenue']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = xgb.XGBRegressor()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [12]:
importance = model.feature_importances_
feature_names = X.columns

total_importance = sum(importance)
impact_percentage = [imp / total_importance * 100 for imp in importance]

for feature, percentage in zip(feature_names, impact_percentage):
    print(f'{feature}: {percentage:.2f}%')

Research_and_development: 46.34%
Sales_and_marketing: 52.74%
General_and_administrative: 0.92%